<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
  </head>
  <body>
    <% if (errorMessage) { %>
    <div class="alert alert-danger"><%= errorMessage %></div>
    <% } %> <% if (userNotFound) { %>
    <div class="alert alert-danger">User not found.</div>
    <% } %>

    <form action="/forgot-password" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">
        Send Password Reset Email
      </button>
    </form>
  </body>
</html>
