<!-- /views/signup.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sign Up</title>
    <style>
      /* Add basic styles to form container */
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        border: 1px solid #ccc; /* add border to form element */
        padding: 20px; /* add some padding for spacing */
        max-width: 500px; /* set a maximum width for the form */
        margin: 0 auto; /* center the form horizontally */
      }

      /* Add basic styles to inputs */
      input[type='email'],
      input[type='password'] {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
      }

      /* Add basic styles to button */
      button[type='submit'] {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border: 1px solid #4caf50; /* add border to button */
        border-radius: 5px;
        cursor: pointer;
        width: auto; /* remove width: 100% */
        box-sizing: border-box;
      }
      /* Add basic styles to error message */
      p {
        color: red;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div>
      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>
    </div>
    <form id="form" novalidate>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <button type="submit" id="button">Sign up</button>
    </form>
    <a href="/login">login</a>
    <script>
      const form = document.getElementById('form');

      form.addEventListener('submit', (event) => {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const button = document.getElementById('button');

        // Client-side validation
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailPattern.test(email)) {
          const errorElement = document.createElement('p');
          errorElement.textContent = 'Email is not valid.';
          form.appendChild(errorElement);
          return;
        }

        if (password.length < 6) {
          const errorElement = document.createElement('p');
          errorElement.textContent =
            'Password must be at least 6 characters long.';
          form.appendChild(errorElement);
          return;
        }

        button.disabled = true; // Disable the button on submission

        fetch('/signup', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then((response) => {
            if (response.ok) {
              console.log('Success');
              window.location.href = '/protected';
            } else {
              return response.json().then((data) => {
                console.log(data.error);
                const errorElement = document.createElement('p');
                errorElement.textContent = data.error;
                form.appendChild(errorElement);
              });
            }
          })
          .catch((error) => console.error(error))
          .finally(() => {
            button.disabled = false; // Re-enable the button after the request is completed
          });
      });
    </script>
  </body>
</html>
